<launch>
 <!--  <param name="robot_description" command="$(find xacro)/xacro - -inorder '$(find hj_object_detect)/urdf/d435_world.urdf.xacro'" /> 

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
   </node>
-->
   <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
</launch>