<launch>    
  <arg name="rviz"            default="true"/>

  <!-- CAMERA -->
  <include file="$(find hj_object_detect)/launch/bringup_d435.launch"/>
  <!-- DARKNET -->
  <include file="$(find hj_object_detect)/launch/hj_darknet.launch"/>


  <!-- RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
	args="-d $(find hj_object_detect)/config/hj_yolo_jsk.rviz" />

</launch>
